<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h3>게시판</h3>
    <a href="/post">이동!</a>
    <a href="/login">로그인</a>
    <a href="/signup">회원가입</a>
</body>
</html>