<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h3>글쓰기</h3>
    <form name="write-form">
        <input type="text" id="title" placeholder="제목입력"><br><br>
        <textarea id="content" placeholder="내용입력" cols="30" rows="10"></textarea><br>
        <button type="button" onclick="writeFunc()">작성</button>
    </form>
    <script>
        async function writeFunc(){
            const res = await axios({
                method : "POST",
                url : "/api/post/write",
                data : {
                    title: document.querySelector("#title").value,
                    content: document.querySelector("#content").value,
                }
            })
            const { result, data} = res.data;
            if (result) {
                alert("작성이 완료되었습니다.")
                document.location.href = `/post/${data}`;
            }
        }
    </script>
</body>
</html>